.paymentHeader {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(234, 237, 237);
}
.payment {
    padding: 30px;

}
.flex {
    display: flex;
    gap: 20px;
    padding: 30px;
}
.flex h3 {
    min-width: 300px;
}
.flex img {
    width: 80px !important;
}
.flex div {
    height: auto !important;
}
.paymentCardContainer {
    max-width: 350px;
    width: 100%;
}
.paymentDetails {
    font-size: 20px;
}
.paymentPrice {
    padding: 20px;
}
.paymentPrice > div {
    display: flex;
    font-size: 16px;
    gap: 10px;
}
.paymentDetails button {
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: rgba(255, 166, 0, 0.776);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}
.paymentDetails button:hover {
    background-color: rgba(255, 166, 0, 0.497);
}
@media screen and (max-width:769px) {
    .flex {
        flex-direction: column;
    }
}
.loader {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: rgb(52, 52, 52);
}