.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login img {
    margin: 30px auto;
    object-fit: contain;
    width: 100px
}
.loginContainer {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.loginContainer h1 {
    font-size: 25px;
    margin: 20px 0;
}
.loginContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loginContainer form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.loginContainer form input {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: white;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
}
.loginContainer form input:focus {
    outline: 2px solid skyblue;
    background-color: rgba(135, 207, 235, 0.268);
}
.loginSignInButton {
    border: none;
    background-color: rgba(255, 166, 0, 0.762);
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.loginSignInButton:hover {
    background-color: rgba(255, 166, 0, 0.962);
}
.loginContainer p {
    padding: 10px 0px;
    font-size: 14px;

}
.loginRegisterButton {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.loginRegisterButton:hover {
    background-color: rgb(211, 211, 211)
}
