.card_container {
    width: 197px;
   height: 495px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.586);
    padding: 10px;
    color: black;
    position: relative;
   
}

.card_container img {
    padding: 10px;
    width: 100%;
    height: 200px;
}

.button {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s ease;
    padding: 5px 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    background-color: #febd69;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.card_container:hover .button {
    opacity: 1;
    transform: translateY(0);
   
}

.rating {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.product_container {
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));

    margin: 100px auto;
    gap: 50px;
    justify-items: center;
}
.product_fixed {
    box-shadow: none;
    height: auto;
    display: flex;
    gap: 50px;
    width: 100%;
}
.product_fixed h3 {
    padding: 20px 0px;
}
.product_fixed .button {
    display: block !important;
    position: static;
    width: 150px;
    margin-right: 40px;

}
.product_fixed img {
    width: 300px !important;
    height: auto;
}
@media screen and (max-width:768px){
    .product_fixed {
        display: flex;
        flex-direction: column;
    }
}
