.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
.container div:not(.subTotal) {
    height: auto !important;
}
.container img {
    width: 100px !important;
}
.cart_product {
    display: flex;
    gap: 10px;
}
.btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn {
    padding: 5px 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.btn:hover {
    background-color: rgba(255, 166, 0, 0.666);
}
.cartContainer {
    padding: 20px;
}
.cartContainer h2, .cartContainer h3 {
    padding: 10px;
}
.cartContainer hr {
    margin: 30px;
}
.subTotal {
    padding: 20px;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}
.subTotal a {
    text-align: center;
    width: 100%;
    border: none;
    background-color: rgba(255, 166, 0, 0.633);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.subTotal a:hover{
    background-color: rgba(255, 166, 0, 0.808);
}
.subTotal > div, .subTotal span {
    display: flex;
    gap: 20px;
}
@media(max-width:968px) {
    .container {
        display: flex;
        flex-direction: column;
        order: 1;
    }
}